@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    --kolor: rgba(0, 174, 226, 1);
    scroll-behavior: smooth;
}

body {
    font-family: Ubuntu, cursive;
    background-color: var(--kolor);
    background-image: linear-gradient(70deg, var(--kolor) 0%, rgba(0, 0, 0, 1) 100%);
}

menu {
    height: 1.6rem;
    position: sticky;
    top: 0;
    background-color: var(--kolor);
    opacity: .6;
}

menu ul {
    list-style: none;
}

menu ul::after {
    content: "";
    display: block;
    clear: both;
}

menu li {
    float:left;
    text-align: center;
    border-right: 2px dotted black;
    padding: 0 10px;
}

menu li:nth-last-child(1) {
    border-right: 0;
}


menu a {
    text-decoration: none;
    color: black;
    text-shadow: 1px 1px var(--kolor);
    font-size: 1.2rem;
}

header {
    background-image: url('./header_bar.jpg');
    background-position: center;
    background-size: cover;
    height: 300px;
}

header h1 {
    text-align: center;
    color: var(--kolor);
    line-height: 300px;
    font-size: 5rem;
    text-shadow: 3px 3px black;    
}

section > p {
    color: var(--kolor);
    text-align: center;
    margin-bottom: 25px;
    text-shadow: 2px 2px black;
}

h2 {
    margin: 20px;
    text-align: center;
    color: var(--kolor);
    text-shadow: 3px 3px black;
    font-size: 2.5rem;
}

article {
    margin: 10px auto;
    width: 75%;
    max-width: 1300px;
    background-color: rgb(4, 140, 180);
    padding: 10px;
    border-radius: 3px;
    box-shadow: -11px -11px 24px 0px #222;
}

article h3 {
    padding: 5px;
    text-align: center;
    text-shadow: -1px -1px var(--kolor);
}

article kbd {
    display: block;
    float: left;
    width: 50%;
    padding-right: 10px;
    text-align: right;
    font-weight: bold;
}

article p {
    float: left;
    padding-left: 10px;
    width: 50%;
    border-left: 2px dotted;
}

article::after {
    content: "";
    display: block;
    clear: both;
}

section#contact div div {
    text-align: center;
}

footer {
    background-color: #050505;
    text-align: center;
    color: var(--kolor);
    height: 20px;
    width: 100%;
    font-family: monospace;
    font-size: 0.8rem;
    line-height: 20px;
}



/* @media (max-width: 360px) {
    article {
        width: 95%;
    }

} */

@media (max-width: 320px) {
    menu li {
        padding: 0 4px;
    }
}

@media (max-width: 640px) {
    article {
        width: 92%;
    }

    article kbd, article p {
        float: none;
        margin: 10px auto;
        text-align: center;
        width: 100%;
    }


}


@media (max-width: 800px) {
    article {
        width: 90%;
    }

}